.main {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
  }
  
  .item {
    display: none;
    height: 100%;
    padding: 1rem;
  }
  
  .item.active {
    display: block;
  }
    
  
  .recipe-img {
    width: 300px;
    height: 200px;
    display:block; 
    margin:0 auto;

  }